.git
.gitignore
.venv
__pycache__/
*.py[cod]

XREPORT/resources/checkpoints/
XREPORT/resources/logs/
XREPORT/resources/models/
XREPORT/resources/runtimes/
XREPORT/resources/tokenizers/

XREPORT/client/node_modules/
XREPORT/client/dist/
XREPORT/client/dist-ssr/

assets/
tests/
