XREPORT/resources/database/dataset/*
XREPORT/resources/database/dataset/images/*
XREPORT/resources/database/metadata/*
XREPORT/resources/checkpoints/*
XREPORT/resources/validation/*
XREPORT/resources/models/tokenizers/*
XREPORT/resources/models/XRAYEncoder/*
XREPORT/resources/database/inference/*
XREPORT/resources/database/validation/*

XREPORT/setup/python/*
XREPORT/setup/uv/*
XREPORT/setup/.env

__pycache__
*.vscode
*.db
*.log
*.npy
*.lock
*.venv
*.egg-info
!.gitkeep

AGENTS.md



