__pycache__
XREPORT/resources/dataset/images/*
XREPORT/resources/dataset/preprocessing_metadata.json
XREPORT/resources/checkpoints/*
XREPORT/resources/tokenizers/*
XREPORT/resources/generation/radiography/*

setup/environment/*
setup/miniconda/*

*.egg-info
*.log
*.csv
!.gitkeep



